.DS_Store

.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

*.swp
*.bak
*.tmp
*.orig
*~

.project
.idea/
*.tmproj
.vscode/

_site/
docs/
test/
_config.yaml
.*ignore
*.tgz
artifacthub*
favicon*
google*.html
index.yaml
Gemfile*
LICENSE*
README*
