.DS_Store

.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

*.swp
*.bak
*.tmp
*.orig
*~

.project
.idea/
*.tmproj
.vscode/

_site/
docs/
_config.yaml
.*ignore
artifacthub*
favicon*
index.yaml
Gemfile*
LICENSE*
README*
